:root {
  --app-font-family: 'Marmelad', sans-serif; 
}
body {
  font-family: var(--app-font-family);
}
div,
button,
p,
a,
span {
  font-family: var(--app-font-family);
}
.App {
  text-align: center;
}

.route-holder {
  background: cyan;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}