:root {
  --app-font-family: 'Marmelad', sans-serif; 
}
body {
  font-family: var(--app-font-family);
}
div,
button,
p,
a,
span {
  font-family: var(--app-font-family);
}
.App {
  text-align: center;
}